name: CI

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  code-check:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python -m pip install pre-commit ruff
        shell: bash
      - run: pre-commit run --show-diff-on-failure --color=always --all-files
        shell: bash
      - name: Clear ruff cache
        run: ruff clean

  pytest-linux:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    strategy:
        matrix:
            python-version: ["3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra test

      - name: Start Ollama server
        run: curl -fsSL https://ollama.com/install.sh | sh && ollama serve &

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_API_KEY: ${{ secrets.HUGGINGFACE_API_KEY }}
          HF_TOKEN: ${{ secrets.HUGGINGFACE_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          XAI_API_KEY: ${{ secrets.XAI_API_KEY }}

      - name: Delete EuroEval cache
        run: rm -rf .euroeval_cache

  pytest-macos:
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'macos')
    permissions:
      contents: read
      pull-requests: write
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra test

      - name: Start Ollama server
        run: curl -fsSL https://ollama.com/install.sh | sh && ollama serve &

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_API_KEY: ${{ secrets.HUGGINGFACE_API_KEY }}
          HF_TOKEN: ${{ secrets.HUGGINGFACE_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          XAI_API_KEY: ${{ secrets.XAI_API_KEY }}

      - name: Delete EuroEval cache
        run: rm -rf .euroeval_cache
